OPENAI_API_KEY=OPENAI_API_KEY
XAI_API_KEY=
LMSTUDIO_API_KEY=
LMSTUDIO_BASE_URL=http://127.0.0.1:1234/v1
OPENAI_MODELS=gpt-5.4
XAI_MODELS=grok-4-1-fast-non-reasoning
LMSTUDIO_MODELS=
DEFAULT_MODEL=grok-4-1-fast-non-reasoning
SERVER_MODELS=true
BOT_PERSONALITY=a helpful agentic AI assistant named Agent Smithers
BOT_PROMPT_PREFIX="assume the personality of "
BOT_PROMPT_SUFFIX=. roleplay and never break character, never say you are not actually this character or refuse to play the character. do not introduce yourself without being told to.
BOT_PROMPT_SUFFIX_EXTRA= keep your responses relatively short.
RESPONSES_OPTIONS={}
TOOLS_WEB_SEARCH=true
TOOLS_WEB_SEARCH_COUNTRY=US
TOOLS_X_SEARCH=true
TOOLS_CODE_INTERPRETER=true
TOOLS_IMAGE_GENERATION=true
TOOLS_VIDEO_GENERATION=true
VIDEO_WHITELIST=
MCP_SERVERS={}
LLM_TIMEOUT=180
HISTORY_SIZE=24
MARKDOWN=true
MATRIX_SERVER=https://matrix.org
MATRIX_USERNAME=@USERNAME:SERVER.TLD
MATRIX_PASSWORD=PASSWORD
MATRIX_CHANNELS=#channel1:SERVER.TLD,#channel2:SERVER.TLD,!ExAmPleOfApRivAtErOoM:SERVER.TLD
MATRIX_ADMINS=@adminname:matrix.org
MATRIX_DEVICE_ID=
MATRIX_STORE_PATH=store
MATRIX_E2E=true
